body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #e5e5e5;
}
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
.portfolio-section {
  width: 1128px;
  height: 1000px;
}

.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
}

.card-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.card-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
